<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<false/>
	<key>SUPublicEDKey</key>
	<string>Q4yEAbv1Sga770dh+/wuKvHaUb01GWe2gaATp7/D+Fw=</string>
	<key>SUFeedURL</key>
	<string>https://zhuhaow.github.io/Specht2/appcast.xml</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
</dict>
</plist>
