<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>me.zhuhaow.Specht2.proxy-helper</key>
		<string>identifier &quot;me.zhuhaow.Specht2.proxy-helper&quot; and anchor apple generic and certificate leaf[subject.OU] = &quot;H5443445N6&quot;</string>
	</dict>
	<key>SUFeedURL</key>
	<string>https://zhuhaow.github.io/Specht2/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>Q4yEAbv1Sga770dh+/wuKvHaUb01GWe2gaATp7/D+Fw=</string>
</dict>
</plist>
