ServerConfig (
    resolver: System,
    acceptors:
        [Socks5(
            addr: "127.0.0.1:8086",
        )],
    connector:
        Speed([
            (100, Socks5(
                    endpoint: "127.0.0.1:8088",
                    next: Direct
                )),
            (0, Direct)
        ])
)
