ServerConfig (
    resolver: Udp("114.114.114.114:53", 3000),
    acceptors:
        [Socks5(
            addr: "127.0.0.1:8086",
        )],
    connector:
        Speed([
            (100, Socks5(
                    endpoint: "127.0.0.1:8088",
                    next: Pool(
                        endpoint: "127.0.0.1:8088",
                        size: 10,
                        next: Direct
                    )
                )),
            (0, Direct)
        ])
)
