ServerConfig (
    acceptor:
        Socks5(
            addr: "127.0.0.1:8088",
        ),
    connector:
        Simplex(
            endpoint: "127.0.0.1:8089",
            path: "/test",
            secret_key: "Simplex-Secret",
            secret_value: "SimplexSecret",
            next: Direct,
        )
)
