ServerConfig (
    acceptors:
        [
            Socks5(
                addr: "127.0.0.1:8086",
            ),
            Http(
                addr: "127.0.0.1:8087",
        )
    ],
    connector:
        Speed([
            (0, Direct),
            (100, Simplex(
                    endpoint: "127.0.0.1:8089",
                    path: "/test",
                    secret_key: "Simplex-Secret",
                    secret_value: "SimplexSecret",
                    next: Direct,
                )
            )
        ])
)
