ServerConfig(
    resolver: System,
    acceptors:
        [Socks5(
            addr: "127.0.0.1:8086",
        )],
    connector:
        Rule(
            connectors: {
                "direct": Direct,
            },
            rules: [
                All("nonexist"),
            ]
        )
)
